
<%= form_with(model:[@user,task],local:true) do |form|  %>
<% if task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

  <ul>
    <% task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="container wrapper">
  <div class="inner-wrapper">
   <div class="header  h-25 "> 
      <h1 class="p-4">Create New Task </h1>
      <div class="logo bg-info">
     </div>
    </div>
   <div class="row">
    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
      <div class="form-box">
        <form>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-group">
                <%= form.label :task_name %>
                <div class ="input-field"><%= form.text_field :task_name,class: "form-control",placeholder:"Task Name" %>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-group">
                <%= form.label :start_date %>
                <div class ="input-field"> <%= form.date_field :start_date,class: "form-control",placeholder:"start_date" %>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
             <div class="form-group">
              <%= form.label :task_note %>
              <div class ="input-field"><%= form.text_field :task_note,class: "form-control",placeholder:"task_note" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
              <%= form.label :end_date %>
              <div class ="input-field"><%= form.date_field :end_date,class: "form-control",placeholder: "End Date" %>
              </div>
            </div>                
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
              <%= form.label :user_id %>
              <div class ="input-field">  <%= form.text_field :user_id,class: "form-control",placeholder:"User id" %>
              </div>
            </div>
          </div>
          <div class="actions">
            <%= form.submit class:"btn btn-info m-3" %>
          </div>
         </form>
       </div>
    </div>
  </div>
</div> 
</div>
</div>
<%end%> 