
       <%= form_with(model:user,remote:true) do |form|  %>
          <div class = "row">
            <div class = "col-lg-6 col-md-6 col-sm-12 col-12">
              <div class = "form-group">
                <span class = "input-group-addon"><span class = "fa fa-user fa-lg fa-fw"></span></span>
                <div class = "input-field">
                 <%= form.text_field :first_name,class: "form-control",placeholder:"First name" %>
                </div>
              </div>
            </div>
            <div class = "col-lg-6 col-md-6 col-sm-12 col-12">
              <div class = "form-group">
               <span class = "input-group-addon"><span class = "fa fa-user fa-lg fa-fw"></span></span>
                <div class = "input-field"> <%= form.text_field :last_name,class: "form-control",placeholder:"Last name" %>
                </div>
              </div>
            </div>
          </div>
          <div class = "row"> 
            <div class = "col-lg-12 col-md-12 col-sm-12 col-12">
              <div class = "form-group">
                   <span class = "input-group-addon"><span class = "fa fa-envelope fa-lg fa-fw"></span></span>
                  <div class = "input-field"><%= form.text_field :email,class: "form-control",placeholder:"Email" %>
                 </div>
              </div>
            </div>
         </div>
         <div class = "row">
           <div class = "col-lg-6 col-md-6 col-sm-12 col-12">
             <div class = "form-group">
                    <span class="input-group-addon"><span class="fa fa-key fa-lg fa-fw"></span></span>
                 <div class = "input-field"><%= form.password_field :password,class: "form-control",placeholder: "password" %>
                 </div>
            </div>                
          </div>
          <div class = "col-lg-6 col-md-6 col-sm-12 col-12">
            <div class = "form-group">
                   <span class = "input-group-addon"><span class = "fa fa-key fa-lg fa-fw"></span></span>
              <div class = "input-field">  <%= form.password_field :password_confirmation,class: "form-control",placeholder:"Retype Password" %>
              </div>
            </div>
          </div>
          <div class = "field">
            <%=form.label :image%>
            <%=form.file_field :image%>
          </div>
          <div class="actions">
            <%= form.submit class:"btn btn-info m-3" %>
          </div>
        </div>
     <%end%>
    