<%= form_with(model: @user,local:true) do |form|  %>
<div class="container wrapper">
  <div class="inner-wrapper">
   <div class="header  h-25 "> 
      <h1 class="signup p-3">Edit User</h1>
      <div class="logo bg-info">
     </div>
    </div>
   	  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 col-sm-12">
      <div class="form-box">
        <form>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-group">
                <%= form.label :first_name %>
                <div class ="input-field"><%= form.text_field :first_name,class: "form-control",placeholder:"First name" %>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <div class="form-group">
                <%= form.label :last_name %>
                <div class ="input-field"> <%= form.text_field :last_name,class: "form-control",placeholder:"Last name" %>
                </div>
              </div>
            </div>
          </div>
          <div class="row"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
             <div class="form-group">
              <%= form.label :email %>
              <div class ="input-field"><%= form.text_field :email,class: "form-control",placeholder:"Email" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
              <%= form.label :password %>
              <div class ="input-field"><%= form.password_field :password,class: "form-control",placeholder: "password" %>
              </div>
            </div>                
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group">
              <%= form.label :retype_password %>
              <div class ="input-field">  <%= form.password_field :password_confirmation,class: "form-control",placeholder:"Retype Password" %>
              </div>
            </div>
          </div>
          <div class = "field">
            <%=form.label :image%>
            <%=form.file_field :image%>
          </div>

          <div class="actions">
            <%= form.submit class:"btn btn-info m-3" %>
               
          </div>

         </form>
       </div>
    </div>
  </div>
</div> 
</div>
</div>
<%end%> 